<div class="app-video-container">
  <div class="app-menu-button">
    <button (click)="goToPage('home')"> <img src = "assets/img/logo.png" height="60"> </button>
  </div>

  <div class="app-video-content">
    <div class="items">
      <div class="app-video-title">{{title}}</div>
      <div class="video-names">
        <ul style="list-style-type: none">
          <li *ngFor="let name of videoNames">
            <video width="400px" height="250px" preload="auto" controls>
              <source src='http://localhost:8080/video/{{name}}' type="video/mp4" />
              Browser not supported
            </video>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

