<div class="rooms-container">
  <div class="home-button">
    <button (click)="goToPage('home')"> <img src = "assets/img/logo.png" height="60"> </button>
  </div>

  <div class="rooms-content-container">
    <div class="rooms-content">
      <div class="rooms-title">{{title}}</div>
      <div class="rooms-buttons">
        <button (click)="goToPage('videos')"> Livingroom </button>
        <button (click)="goToPage('videos')"> Bedroom </button>
        <button (click)="goToPage('videos')"> Kitchen </button>
        <button (click)="goToPage('videos')"> Hallway </button>
      </div>
    </div>
  </div>
</div>
